# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules

# testing
/coverage
/test/reports

# production
build/
worker/build/
server/build/
server/.build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
supervisord.dev.conf

npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
dump.rdb

.node-xmlhttprequest-sync-*

datadir
newrelic_agent.log

#vim
*.swp
*.swo
*~
